<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="phemexSecretKey" value="iS45AX_AU2InSTrPpv4ckA00_J6ch5AvRrhjD4UPSvlmZWQ4ZDA0Yy0zYzVmLTQxZDQtODVkMS1kNDhhNjc5ZThkYTc"/>
		<add key="phemexId" value="c31d3781-1071-448a-bfc8-f826f546ca27"/>
	</appSettings>
</configuration>